# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Default owners for everything
*                       @Safrochain-Org/maintainers

# Custom modules
/x/clock/               @Safrochain-Org/core
/x/cw-hooks/            @Safrochain-Org/core
/x/drip/                @Safrochain-Org/core
/x/feepay/              @Safrochain-Org/core
/x/feeshare/            @Safrochain-Org/core
/x/globalfee/           @Safrochain-Org/core
/x/tokenfactory/        @Safrochain-Org/core
/x/wrappers/            @Safrochain-Org/core

# App wiring and consensus
/app/                   @Safrochain-Org/core

# Build / CI / release
/.github/              @Safrochain-Org/core
